.heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    color: rgb(17, 60, 159);
}
.movies-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10px;
}
@media (max-width: 575px){
    .movies-container{
        justify-content: center;
    }
}